footer {
    background-color: black;
    /* opacity: 50%; */
}

.copyright {
    color: white;
}

.specialem {
    color: gold;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 0;
}

.highlight {
    background-color: gold;
    font-style: normal;
    font-weight: bold;
}